
body,html{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #2B2750;
}

/*Particles*/
/* #particles-js{
    position: absolute;
    width: 98vw;
}
.particles-js-canvas-el{
    width: 98vw!important;
} */

/*End of Particles*/
.wrapper{
    width: 100%;
    height: 412px;
    background: #FBFBFB;
}
.box-one{
    background: linear-gradient(0deg, #FFFFBA 20%, #0070AD 60%, #002863 100%);
}

.box-one svg{
    width: 100%;
    margin-left: 5px;
}
 .box-two svg{
     margin-top: -135px;
     margin-left: -5px;
     margin-right: -10px;
     width: 375px;
 }
 .content{
    margin-top: -270px;
    margin-left: 30px;
 }
 .content img{
    margin-top: 30px;
}
 h1, h3{
     font-weight: bold;
     margin-top: 20px;
 }
 h1{
    font-size: 30px;
 }
 h3{
     font-size: 20px;
     margin-top: 35px;

 }
 .content p{
    font-size: .9rem;
 }
 form{
     margin-top: 15px;
 }
input{
    padding: 10px;
    background: #FFFFFF;
    box-shadow: 0px 0px 0.569767px rgba(43, 39, 80, 0.04), 0px 2.27907px 4.55814px rgba(43, 39, 80, 0.04), 0px 9.11628px 13.6744px rgba(43, 39, 80, 0.04), 0px 13.6744px 18.2326px rgba(43, 39, 80, 0.04);
    border-radius: 8px;
    border: none;
    font-size: .9rem;

}
button{
    margin-left: -5px;
    background: #FFDF82;
    border-radius: 0px 8px 8px 0px;
    border: none;
    padding: 10px;
    font-size: .9rem;
    font-weight: bold;
}
.container-fluid{
    margin-top: 250px;
    margin-bottom: 80px;
}
.card{
    width: 200px;
    height: 200px;
    border: none;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 24px 32px rgba(0, 0, 0, 0.04);
    border-radius: 15px;
    margin: auto;

}
.card i{
    font-size: 7rem;
    margin-top: 50px;
    text-align: center;
    /* color: white; */
}
.col-md-4 p{
    margin-top: .9rem;
    text-align: center;
}
.section-three{
    background: #17133C;
    height: 200px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: -30px;
}
.title h2{
    font-size: 1.3rem;
    font-weight: 600;
    color: #fff;
    margin-top: 40px;
}
.form-data{
    margin-top: -45px;
}
.form-data input{
    border-radius: 13px 0px 0px 13px;
    padding: 12px;
}
.section-three button{
    color: #2B2750;
    padding: 12px;
    border-radius: 0px 13px 13px 0px;
}
.section-four{
    margin-top: -50px;
}
.section-four .card{
    width: 300px;
    height: 300px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 24px 32px rgba(0, 0, 0, 0.04);
    border-radius: 15px;
}
.section-four p, .section-four h1{
    color: #2B2750;
}
.section-four h1{
    font-size: 28px;
    font-weight: bold;
}
.section-four p{
    font-size: .9rem;
}
@media only screen and (min-width: 375px){
.box-two svg{
    width: 390px;
    margin-top: -135px;
    }
}
@media only screen and (min-width: 411px){
    .box-one{
        background: linear-gradient(0deg, #FFFFBA 20%, #0070AD 60%, #002863 100%);
    }
    .box-two svg{
        width: 427px;
        margin-top: -152px;
    }
    .content{
        margin-top: -280px;
    }
    .content .logo{
        width: 110px;
    }
    h3{
        margin-top: 30px;
    }
   .content form{
        margin-top: 30px;
    }
   .content input, .content button{
        padding: 15px;
    }
    .section-two{
        margin-top: 300px;
    }
    .card-text{
        font-size: .9rem;
    }
    .section-three{
        height: 250px;
    }
    .title{
        margin-top: 30px;
    }
    .form-data{
        margin-top: -50px;
    }
    .form-data input, .form-data button{
        padding: 15px;
    }
    .section-four{
        margin-top: -55px;
    }
    .section-four p{
        font-size: .9rem;
    }
}

@media only screen and (min-width: 768px){
    .box-two svg{
        margin-top: -270px;
        margin-left: -10px;
        width: 795px;
    }
    .content{
        margin-top: -550px;
        margin-left: 50px;
     }
     .content .logo{
         width: 130px;
     }
     h3{
         font-size: 1.5rem;
         margin-top: 50px;
     }
     h1{
         font-size: 2.2rem;
     }
    .content p{
         font-size: 1rem;
     }
    .content input{
        padding: 20px;
        width: 300px;
        font-size: 1rem;
     }
    .content button{
         padding: 20px;
         font-size: 1rem;
     }

     /* section two */
    .section-two{
        margin-top: 620px;
    }
    .section-three{
        margin-top: 50px;
    }
    .title{
        margin-top: 65px;
    }
    .form-data{
        margin-top: 85px;
    }
    .form-data input{
        width: 250px;
    }
    .section-four{
    }
    .section-four .card{
        width: 200px;
        height: 200px;
    }
}

@media only screen and (min-width: 1024px){
    .wrapper{
        height: 660px;
        display: flex;
        flex-direction: row-reverse;
    }
    .box-one svg{
        width: 768px;
        height: 700px;
        margin-top: -20px;
    }
    .box-two svg{
        width: 700px;
        transform: rotate(-270deg);
        margin-top: 5px;
        position: absolute;
        z-index: 0;
        left:180px
    }
    .content{
       position: relative;
        z-index: 5;
        margin-top: 5px;
        width:37vw;
        left:0;
    }
    .logo{
        width: 110px;
    }
    .content h3{
        margin-top: 80px;
    }
    input, button{
        margin-top: 20px;
        padding: 20px;
    }
    input{
        width: 550px;
    }
    button{
        width: 180px;
    }
    .container-fluid{
        margin-top: 80px;
        margin-bottom: 80px;
    }
    .card{
        width: 200px;
    }
   .card i{
        font-size: 7rem;
        margin-top: 50px;
    }
    .col-md-4 p{
        margin-top: 20px;
    }
    .section-three{
        height: 300px;
    }
    .title h2{
        font-size: 28px;
        margin-top: 60px;
        /* padding-top: 10px; */
    }
    .form-data{
        margin-top: 90px;
    }
    .form-data input, .form-data button{
        padding: 20px;
    }
    .section-four .card{
        width: 300px;
        height: 300px;
        margin-bottom: 30px;
    }
    .section-four h1{
        font-size: 28px;
    }
    .section-four p{
        font-size: 18;
    }
}

@media only screen and (max-width: 320px){
    .box-two svg{
        margin-top: -115px;
        margin-left: -5px;
        margin-right: -10px;
        width: 335px;
    }
    .content{
        margin-top: -230px;
        margin-left: 30px;
     }
    .content input{
        padding: 15px;
    }
    .content button{
        padding: 15px;
        margin-left: 5px;
        margin-top: 15px;
    }
    .section-four .card{
        width: 250px;
        height: 250px;
    }
}